.main {
  display: flex;
  align-items: flex-start;
}

.list {
  min-width: 17rem;
}

.list-group {
  overflow-y: scroll;
  height: 17rem;
  width: 17rem;
}

.list-group-item {
  color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 17rem;
  margin-right: 10%;
  margin-left: 10%;
}

.active {
  color: white;
}
