<div class="main">
  <div class="list">
    <ul class="list-group scrollbar-morpheus-den bordered-indigo thin" *ngIf="selectedAuthors.length !== 0">
      <li (click)="selected[0] = i;" class="list-group-item" [ngClass]="{ 'active': selected[0] === i }" *ngFor="let author of selectedAuthors; let i = index">
        {{author['firstName'] + ' ' + author['lastName']}}
      </li>
    </ul>
  </div>
  <div class="buttons">
    <button class="btn btn-primary" (click)="onClick(0)" [disabled]="!selectedAuthors.length">
      <i class="fas fa-angle-right"></i>
    </button>
    <button class="btn btn-primary" (click)="onClick(1)" [disabled]="!allAuthors.length">
      <i class="fas fa-angle-left"></i>
    </button>
  </div>
  <div class="list">
    <ul class="list-group scrollbar-morpheus-den bordered-indigo thin" *ngIf="allAuthors.length !== 0">
      <li (click)="selected[1] = i;" class="list-group-item" [ngClass]="{ 'active': selected[1] === i }" *ngFor="let author of allAuthors; let i = index">
        {{author['firstName'] + ' ' + author['lastName']}}
      </li>
    </ul>
  </div>
</div>
