$side: 70px;
$min-side: 40px;
@import '../../partial';

.main {
  div {
    @extend .flex-vertical-center;
  }
  padding: 3%;
  @extend .flex-space-between;
  font-size: 3rem;
  border-radius: $big-border-radius;
  background: #F7C62E;
}

.img-logo-but {
  width: 500px;
  justify-content: space-between;
}

.user-logoff {
  font-size: $mid-font;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: $side;
  width: $side;
  min-height: $min-side;
  min-width: $min-side;
}

.courses {
  font-size: $big-font;
}

.logoff {
  align-self: flex-end;
  cursor: pointer;
  text-decoration: underline;
}
