$side: 70px;
$min-side: 40px;
@import '../../partial';

.main {
  padding: 3%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  border-radius: 20px;
  background: #F7C62E;
}

.block {
  display: flex;
  align-items: center;
}

.img-logo-but {
  @extend .block;
  width: 500px;
  justify-content: space-between;
}

.user-logoff {
  @extend .block;
  font-size: 1.2rem;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: $side;
  width: $side;
  min-height: $min-side;
  min-width: $min-side;
}

.courses {
  font-size: 1.5rem;
}

.logoff {
  align-self: flex-end;
  cursor: pointer;
  text-decoration: underline;
}
