@import '../../../core/partial';

.main {
  margin-top: $very-low-margin;
  padding: $low-margin;
  @extend .flex-space-between;
  border-radius: $mid-border-radius;
  background: #68D8D6;
}

.buttons {
  margin-left: $mid-margin;
  display: flex;
  @extend .column-space-around;
}

.btn {
  font-weight: $font-weight;
}

.top-rated {
  background-color: #F4D35E;
}
