@import '../../core/partial';

.main {
  margin-top: 10%;
  @extend .flex-vertical-center;
  @extend .column-space-around;
  font-size: $mid-font;
  color: $soft-white;
}

.input {
  text-align: left;
  width: $big-width;
  min-width: 200px;
}

.enter {
  text-align: center;
  margin-top: $very-low-margin;
  font-weight: $font-weight;
  width: $mid-width;
  min-width: 20px;
}
