@import '../../core/partial';

.main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  color: $soft-white;
}

.input {
  text-align: left;
  width: 500px;
  max-width: 300px;
  min-width: 200px;
}

.enter {
  text-align: center;
  margin-top: 1%;
  font-weight: 600;
  width: 100px;
  min-width: 20px;
}
