@import 'core/partial';

.main {
  margin: 3% 8% 0;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  color: $soft-white;
}

.footer {
  position: absolute;
  @extend .right-bottom-left;
}
