@import '../../core/partial';

.main {
  overflow: hidden;
}

.courses {
  overflow-y: auto;
  border-radius: $low-border-radius;
  height: 36rem;
}

.button-add {
  margin-top: $big-margin;
  text-align: center;
}

.btn {
  font-weight: $font-weight;
  width: $big-width;
}

.scrollbar-morpheus-den::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: $soft-white;
  border-radius: $mid-border-radius;
}

.scrollbar-morpheus-den::-webkit-scrollbar {
  width: 12px;
  background-color: $soft-white;
}

.scrollbar-morpheus-den::-webkit-scrollbar-thumb {
  border-radius: $mid-border-radius;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.bordered-indigo::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border: 1px solid #3f51b5;
}

.bordered-indigo::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
}

.thin::-webkit-scrollbar {
  width: 6px;
}
