$size: 1.1rem;
@import '../../../../core/partial';

.info {
  font-size: $big-font;
  font-weight: $font-weight;
}

.desc {
  margin-top: $low-margin;
  text-indent: 2rem;
  font-size: $size;
}

.tit-id-dur, .without-desc {
  @extend .flex-space-between;
}

.tit-id-dur {
  width: 800px;
}

.without-desc {
  width: 1200px;
}

.duration-star {
  display: flex;
}

.star {
  color: yellow;
  height: $size;
  width: $size;
}
