<div class="without-desc">
  <div class="tit-id-dur">
    <div class="title">{{course.title | uppercase}}</div>
    <div class="id">{{course.id}}</div>
    <div class="duration-star">
      <div class="duration">
        {{course.duration | courseDuration}}
      </div>
      <div *ngIf="course.topRated" class="star">
        <i class="far fa-star"></i>
      </div>
    </div>
  </div>
  <div class="date">{{course.date | date: 'dd/MM/yy'}}</div>
</div>
<p class="desc">{{course.description}}</p>
