.main {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
}

.input-find {
  display: flex;
}

.input {
  padding: 1%;
  width: 500px;
  max-width: 500px;
  min-width: 200px;
}

.find, .add {
  font-weight: 600;
  width: 200px;
  max-width: 200px;
  min-width: 100px;
}

.input-find > * {
  margin-right: 5%;
}

.icon {
  height: 30px;
  width: 30px;
  min-height: 20px;
  min-width: 20px;
}
