$input-width: 500px;
$add-width: 200px;
$side: 30px;
$min-side: 20px;
@import '../../../core/partial';

.main {
  margin: $very-low-margin 0;
  @extend .flex-space-between;
}

.input-find {
  display: flex;
  input {
    padding: $very-low-margin;
    width: $input-width;
    max-width: $input-width;
    min-width: $add-width;
  }
}

.btn {
  font-weight: $font-weight;
  width: $add-width;
  max-width: $add-width;
  min-width: $mid-width;
}

.input-find > * {
  margin-right: $big-margin;
}

.icon {
  height: $side;
  width: $side;
  min-height: $min-side;
  min-width: $min-side;
}
